body {
  margin: 0;
}

.parent {
  display: flex;
  height: 100vh; /* Or whatever */
  width: 100vw;
  flex-flow: wrap;
}
img {
  width: 100%;
  height: 100%;
  display: flex;
  padding: 20px;
  margin: 0 auto;
  border-radius: 130px;
}

}

.child {
  width: 50%;
  height: 50vh; /* Or whatever */
  margin: 0;  /* Magic! */
  padding: 0;
  flex-wrap: wrap;
  background-color: grey;
}

hr {
    margin-top: 5rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0,0,0,.1);
}

.starter-template {
  padding-top: 50px;
}
