body {
  margin: 0;
}

.parent {
  display: flex;
  height: 90vh; /* Or whatever */
  width: 100vw;
  flex-flow: wrap;
}
img {
  width: 100%;
  height: 100%;
}
.child {
  width: 50%;
  height: 50vh; /* Or whatever */
  margin: 0;  /* Magic! */
  padding: 0;
  flex-wrap: wrap;
  background-color: grey;
}
.navbar-brand {
  font-size: 3em;
}
.navbar-nav {
  margin-top: 24px;
}
.nav-link {
  font-size: 1.2em;
}
